{# ----------------------------------------------------------------------------
 # SymForce - Copyright 2022, Skydio, Inc.
 # This source code is under the Apache 2.0 license found in the LICENSE file.
 # ---------------------------------------------------------------------------- #}
import importlib
import pkgutil
import sys
import typing as T
from pathlib import Path

if T.TYPE_CHECKING:
    from ._init import *

for finder in sys.meta_path:
    spec = finder.find_spec("{{ pkg_namespace }}", path=None)
    if spec is not None:
        __path__.extend(spec.submodule_search_locations)  # type: ignore  # mypy issue #1422
__path__ = pkgutil.extend_path(__path__, __name__)  # type: ignore  # mypy issue #1422
seen_paths = set()
for path in __path__:
    resolved = Path(path).resolve()
    if resolved in seen_paths:
        continue
    seen_paths.add(resolved)
    init = resolved / "_init.py"
    if init.is_file():
        spec = importlib.util.spec_from_file_location("{{ pkg_namespace }}._init", init)  # type: ignore[attr-defined]
        if spec is not None and spec.loader is not None:
            exec(spec.loader.get_code("{{ pkg_namespace }}._init"), globals())  # type: ignore[attr-defined]
