name: docs

on:
  push:
    branches:
     - 'main'
     - 'bradley/test_auto_deploy_docs_2'

jobs:
  update-docs:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Mock docs
        run: |
          mkdir -p build/docs
          echo "doc contents" > build/docs/the_docs.txt

      - name: Deploy docs
        uses: cpina/github-action-push-to-another-repository@v1.5
        env:
          SSH_DEPLOY_KEY: ${{ secrets.SSH_DEPLOY_KEY }}
        with:
          source-directory: build/docs
          destination-github-username: 'bradley-solliday-skydio'
          destination-repository-name: 'temporary-target-repo'
          user-email: bradley.solliday@skydio.com
          commit-message: Regenerate docs from ${{ github.sha }}
          target-branch: main
