name: Run Tests

on: [push] # do I want to make this on push to PR or something/

jobs:
  test-ubuntu:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-18.04, ubuntu-20.04]
        compiler: [{C: gcc-7, CXX: g++-7}, {C: gcc-11, CXX: g++-11}]
        python: [python3.8, python3.9, python3.10]
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      # - Installing software-properties-common adds add-apt-repository
      - name: Update install tools
        run: |
          sudo apt-get update
          sudo apt-get install -y software-properties-common curl

      # - ppa:ubuntu-toolchain-r/test is needed to have compiler available on all ubuntu versions
      # - Installing g++-x also installs gcc-x
      - name: Install C and CXX compilers
        run: |
          sudo add-apt-repository -y ppa:ubuntu-toolchain-r/test
          sudo apt-get install -y ${{ matrix.compiler.CXX }}

      # - ppa:deadsnakes/ppa is needed to have python3.x-dev available on all ubuntu versions
      # - python3.x-dev is used instead of python3.x because the -dev version includes python header
      # files needed to compile C extension modules
      - name: Install python
        run: |
          sudo add-apt-repository -y ppa:deadsnakes/ppa
          sudo apt-get install -y ${{ matrix.python }}-dev ${{ matrix.python }}-distutils
          curl https://bootstrap.pypa.io/get-pip.py | ${{ matrix.python }}
          pip install --upgrade setuptools

      - name: Install general build dependencies
        run: |
            sudo apt-get install -y \
              doxygen \
              libgmp-dev \
              pandoc

      - name: Install build dependencies for SymForce benchmarks
        run: |
            sudo apt-get install -y \
              libboost-dev \
              libboost-serialization-dev \
              libboost-system-dev \
              libboost-filesystem-dev \
              libboost-thread-dev \
              libboost-program-options-dev \
              libboost-date-time-dev \
              libboost-timer-dev \
              libboost-chrono-dev \
              libboost-regex-dev \
              libgoogle-glog-dev \
              libeigen3-dev

      # OLD: pip must be at least version 20.3 to avoid issues with jinja2 in requirements.txt
      - name: Install python dependencies
        run: pip install -r dev_requirements.txt

      - name: Run cmake build
        run: |
          mkdir build
          cd build
          cmake .. \
            -D CMAKE_C_COMPILER=${{ matrix.compiler.C }} \
            -D CMAKE_CXX_COMPILER=${{ matrix.compiler.CXX }} \
            -D SYMFORCE_PYTHON_OVERRIDE=${{ matrix.python }} \
            -D SYMFORCE_BUILD_BENCHMARKS=ON
          make -j $(nproc)

      - name: Run C++ tests
        run: |
          cd build
          ctest

      # - lcmtypes need to be available for tests
      # - Exact contents of dev_requirements.txt depend on python version. Need to update file to
      # match current python version to avoid failure of corresponding gen test. symforce needs
      # to be on the PYTHONPATH to run gen test in this manner.
      # - The Makefile uses the python version stored in env var PYTHON
      - name: Run python tests
        run: |
          pip install build/lcmtypes/python2.7
          export PYTHONPATH=$PYTHONPATH:$(pwd); \
          ${{ matrix.python }} test/symforce_requirements_test.py --update; \
          export PYTHON=${{ matrix.python }}
          make -j2 test
